<div class="container" style="height: 82vh">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-floating mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com" %>
              <%= f.label :email %>
            </div>
            <div class="form-floating mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %>
              <%= f.label :password %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-check mb-3">
                <%= f.label :remember_me, class: "form-check-label" %>
                <%= f.check_box :remember_me, class: "form-check-input" %>
              </div>
            <% end %>
            <div class="d-grid">
              <%= f.submit "Sign in", class: "btn btn-primary btn-login text-uppercase fw-bold" %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
