<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/user/nav' %>
    <%= render 'layouts/user/header' %>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <%= yield %>
            <%= render 'layouts/user/sidebar' %>
        </div>
    </div>
    <%= render 'layouts/user/footer' %>
  </body>
</html>
